---
import { Image } from "astro:assets";
import "flag-icons/css/flag-icons.min.css";
---

<div class="w-full h-[600px] font-Bebas">
  <div class="grid grid-cols-5 grid-rows-5 gap-2 h-full">
    <div class="col-span-4 row-span-4 relative overflow-hidden">
      <picture class="w-full h-full">
        <Image
          src="/images/bentoback1.webp"
          alt="Kids holding their hands up on a camping day"
          width={1920}
          height={1080}
          loading={"eager"}
          class="max-h-full max-w-full object-cover object-bottom"
        />
      </picture>
      <div class="absolute inset-0 bg-gradient-to-b from-black/20 to-black/40">
      </div>
      <div
        class="absolute inset-0 flex flex-col items-center justify-center text-white text-4xl p-6 text-shadow-lg"
      >
        <h2>Bienvenido a la nueva casa del GroomCamp</h2>
        <h3>¿Estas preparado?</h3>
      </div>
    </div>
    <div
      class="row-span-3 flex-col gap-2 col-start-5 bg-primery-yellow flex items-center justify-center text-4xl text-center p-4"
    >
      <h2>La revolución del grooming ha comenzado</h2>
      <h3>¡Se parte de ella!</h3>
    </div>

    <div
      class="bg-black row-span-2 flex flex-col text-white justify-center items-center col-start-5 row-start-4 relative overflow-hidden"
    >
      <span class="fi fi-mx text-4xl py-2"></span>
      <h1 class="text-4xl">chihuahua</h1>
      <p class="text-2xl">Mayo 27, 28 y 29</p>
      <button
        class="text-xl cursor-pointer bg-primery-yellow rounded-lg p-1 w-1/2 hover:bg-primery-yellow/80 transition delay-75"
        >Compra tus entradas</button
      >
    </div>
    <div
      class="col-span-4 row-start-5 flex-col p-4 bg-primery-yellow gap-2 flex items-center justify-center text-4xl"
    >
      <div>
        <h3 class="text-xl">Patrocinan</h3>
      </div>
      <div class="flex justify-evenly w-full">
        <Image
          src="/images/LOGO.webp"
          alt="Logo de groomcamp"
          width={64}
          height={64}
        />
        <Image
          src="/images/LOGO.webp"
          alt="Logo de groomcamp"
          width={64}
          height={64}
        />
        <Image
          src="/images/LOGO.webp"
          alt="Logo de groomcamp"
          width={64}
          height={64}
        />
        <Image
          src="/images/LOGO.webp"
          alt="Logo de groomcamp"
          width={64}
          height={64}
        />
      </div>
    </div>
  </div>
</div>
